@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';


body {
  position: fixed;
  margin: 0!important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
@media screen and (orientation:portrait) {
  //body {
  //  transform-origin: 0 0;
  //  transform: rotateZ(90deg) translateY(-100%);
  //}
  .el-message-box__wrapper{
    display: flex;
  }
  .el-message-box{
    width: 100% !important;
  }
}

label {
  font-weight: 700;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content{
  background: rgba(66,185,131,.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: .05rem;
  a{
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}
//手机兼容
@media screen and (orientation:portrait) {
  .container {
    padding: 4px !important;
    background-color: rgb(240, 242, 245);
  }
  .v-modal{
    background: white !important;
  }
  .el-dialog,.el-message-box{
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px !important;
  }
  .el-date-range-picker{
    left: 0px !important;
    top: 0px !important;
    bottom: 0px !important;
    margin-top: 0px !important;
    overflow: scroll;
  }
  .el-date-range-picker__content{
    float: none !important;
    width: 100vw !important;
  }
  .el-date-editor--daterange.el-input__inner{
    width: 100%;
  }
  .el-table--medium td, .el-table--medium th{
    padding: 2px 0 !important;
  }
}
@media screen and (max-width: 500px) {
  .card-panel-num{
    font-size: 14px !important;
  }
  .el-dialog--center .el-dialog__body{
    padding: 25px 5px 30px !important;
  }
}

.tip{
  padding: 8px 16px;
  background-color: #ecf8ff;
  border-radius: 4px;
  border-left: 5px solid #50bfff;
  margin: 20px 0;
  margin-top: 0;
}
.tip p{
  font-size: 14px;
  color: #5e6d82;
  line-height: 1.5em;
}

.flexR{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center
}
.flexC{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.allHeight{
  height:100%!important
}